/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Reset */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3.2em;
}
h2 {
  font-size: 1.8em;
}
p {
  font-size: 1em;
}

button {
  font-size: 1em;
  font-weight: 600;
}

/* Variables */
:root {
  --text-primary: #3a3a3a;
  --text-secondary: #e02c6d;
}

/* Globals[START] */

/* Containers */
.header-container {
  max-width: 90%;
}
.container {
  max-width: 70%;
}

/* Flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-item {
  /* flex: 1; */
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}
.gap-50 {
  gap: 50px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
}

/* Text */
.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-center {
  text-align: center;
}

/* Height/ Width */
.h-100 {
  height: 100vh;
}

.max-w-90 {
  max-width: 90%;
}
.max-w-85 {
  max-width: 85%;
}
.max-w-80 {
  max-width: 80%;
}
.max-w-70 {
  max-width: 70%;
}

/* Margin/ Padding */
.mx-auto {
  margin: 0 auto;
}
.mt-100 {
  margin-top: 100px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-16 {
  margin-top: 16px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

/* Button */
.btn {
  padding: 13px 25px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 3px 5px 1px rgba(27, 27, 27, 0.3);
}
.btn i {
  padding: 0 10px;
}
.btn-primary {
  color: white;
  background-color: var(--text-secondary);
}

.btn:hover {
  color: rgb(247, 238, 238);
  background-color: #c7235f;
}

.btn i {
  transition: all 0.3s ease-in-out;
}

.btn:hover i {
  transform: translateX(50%);
}

/* Globals[END]  */

/* Specific styles[Start] */

/* Header */

/* Nav */
#brand {
  font-size: 1.5em;
  font-weight: 700;
}
.menu ul li {
  list-style: none;
  color: var(--text-primary);
  padding-right: 25px;
}
.menu ul li a {
  text-decoration: none;
  color: var(--text-primary);
}
.menu ul li a:hover {
  color: #8f8f8f;
}

/* Start Journey */
.header-image {
  background-image: url('../images/circle-design.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.header-image:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/* Animation */
@keyframes animate-text {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
#start-journey h1 {
  animation: animate-text 1s ease-in-out;
}

/* Associated Companies */

hr {
  height: 1px;
  margin: 28px 0;
  background: linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #e0e5eb,
    rgba(0, 0, 0, 0)
  );
  border: 0;
}
hr:after {
  display: block;
  content: '';
  height: 28px;
  background-image: radial-gradient(
    farthest-side at center top,
    #dce0e6 30%,
    rgba(255, 255, 255, 0.329) 100%
  );
}

/* Collection items */
.collection-items {
  margin-top: 30px;
}
.collection-items .inner-container {
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  /* border: 1px solid black; */
  /* box-shadow: 2px 2px 5px 2px rgba(209, 204, 204, 0.116); */
  box-shadow: 0px 0px 20px 5px rgba(143, 142, 142, 0.2);
}

.collection-items h2,
.collection-items p {
  font-weight: 500;
}

.collection-items h2 {
  color: #18191f;
  padding-top: 0.4em;
}

.collection-items .price {
  font-size: 1.5em;
  padding-top: 0.4em;
}
.collection-items .rating,
.description {
  font-size: 0.9em;
  padding-top: 0.4em;
}

.collection-items .rating i {
  color: #fb8200;
  height: 14px;
  width: 14px;
  padding: 2px;
}
.collection-items .rating p {
  color: #5e6366;
  display: inline;
  padding-left: 8px;
}

.collection-items .description {
  color: #787885;
  font-weight: 600;
}

.collection-items .item-image {
  width: 100%;
}
.see-more {
  margin-top: 50px;
}

/* Testimonial */
.testimonial-container {
  margin-top: 30px;
}
.testimonial {
  padding: 15px;
  border-radius: 5px;
  /* border: 1px solid black; */
  /* box-shadow: 2px 2px 5px 2px rgba(209, 204, 204, 0.116); */
  box-shadow: 0px 0px 20px 5px rgba(143, 142, 142, 0.2);
  gap: 15px;
}
.testimonial img {
  width: 150px;
}

.testimonial p {
  text-align: center;
  font-weight: 500;
  font-size: 0.9em;
}
.testimonial p::before {
  content: "''";
  font-size: 1.8em;
}
.testimonial p::after {
  content: "''";
  font-size: 1.8em;
}
